h1{
    text-align: center;
    text-shadow: 2px 2px 2px rgb(97, 97, 104);
    color: red;
}

div.contenedor{
    display: flex; 
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    flex-flow:row wrap ;
    /* justify-content: center; */
    /* justify-content: space-between;  */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    background-color: aqua;
    height: 300px;
    align-items: center;
    /* cargar hacia la parte superior  */
    /* align-content: flex-start; */
    /* cargar hacia la parte inferior  */
    /* align-content: flex-end; */

}
div.contenedor > p{
    background-color: brown;
    color: white;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;
}